<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title class="titletime">番茄土豆</title>
    <link rel="icon" type="image/ico" href="../static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script rel="stylesheet" type="text/javascript" src="../static/pomo.js"></script>
  </head>
  <body class="body">
    <header>
      <div class="header-left">
        <div class="fanqietudou">番茄土豆</div>
        <div><a class="green" href="{{url_for('pro')}}" target="_blank">升级</a></div>
      </div>
      <div class="header-right">
        <i class="fa fa-refresh" aria-hidden="true" title="与服务器同步数据"></i>
        <div class="setting">
          <div class="settingbtn">{{user.username}} <i class="fa fa-angle-down" aria-hidden="true"></i> </div>
          <div class="settinglist" style="display:none;">
            <div class="account">账号</div>
            <div class="favorite">偏好设置</div>
            <div><a href="{{url_for('login')}}">登出</a></div>
          </div>
      </div>
    </header>
    <div class="layer" style="display:none;"></div>
    <div class="topbar" style="display:none;">
      <span></span>
      <i class="fa fa-check"></i>
    </div>
    <div class="middle">
      <div class="middle-left">
        <button class="startto" type="button" name="button" style="cursor: pointer;">开始番茄</button>
        <div class="timeclock" style="display:none;">
          <span class="timemove" id="timemove"></span>
          <span class="timeshow"></span>
          <i class="fa fa-times-circle fa-lg timecancel" aria-hidden="true"></i>
        </div>
        <!-- 取消任务弹窗确认 -->
        <div class="cancelcheck" style="display:none;" >
          <div class="checkmes">您目前正在一个番茄工作时间中，要放弃这个番茄吗？</div>
          <div class="checkbtn"><div class="confirm">确认</div> <div class="cancel">取消</div></div>
        </div>
        <div class="task" style="display:none;">
          <input class="taskinput" type="text" name="task" value="" placeholder="你刚刚完成了什么工作">
          <div id="recordsummit"><i  class="fa fa-level-down fa-rotate-90 fa-2x" aria-hidden="true" style="display:none;"></i></div>
          <i class="fa fa-times-circle fa-lg timecancel" aria-hidden="true"></i>
        </div>
        <div class="record">
          <div class="recordlogo"><i class="fa fa-history fa-5x" aria-hidden="true" style="color:#D7DBDD"></i></div>
          <div class="norecord" style="color:#A6ACAF" >没有记录</div>
        </div>
      </div>
      <div class="middle-right">
        <div class="addtask">
          <input class="taskinput" type="text" name="potato" value="" placeholder="添加新任务">
          <div id="tasksummit"><i class="fa fa-level-down fa-rotate-90 fa-2x" aria-hidden="true" style="display:none;"></i></div>
        </div>
        <div class="potatolist">
          <ul>

            <li >
              <span>
                <i class="fa fa-circle-o" style="font-size: 120%; opacity: 1;" title="完成任务"></i>
              </span>
              <input value="点击右侧的图钉按钮可以让任务置顶" type="text" disabled="disabled">
              <span class="btns">
                <i class="fa fa-ellipsis-h" title="修改高级属性" ></i>
                <i class="fa fa-pencil-square-o" title="编辑任务"></i>
                <i class="fa fa-arrow-up" title="置顶任务" ></i>
              </span>
            </li>

            <li>
              <span>
                <i class="fa fa-circle-o" style="font-size: 120%; opacity: 1;" title="完成任务"></i>
              </span>
              <input value="置顶一个任务表示你打算在今天进行这个任务" type="text" disabled="disabled">
              <span class="btns">
                <i class="fa fa-ellipsis-h" title="修改高级属性" ></i>
                <i class="fa fa-pencil-square-o" title="编辑任务"></i>
                <i class="fa fa-arrow-up" title="置顶任务" ></i>
              </span>
            </li>

            <li>
              <span>
                <i class="fa fa-circle-o" style="font-size: 120%; opacity: 1;" title="完成任务"></i>
              </span>
              <input value="点击 #标签 可以用这个 #标签 来筛选任务列表hahahahahahahahahah" type="text" disabled="disabled">
              <span class="btns">
                <i class="fa fa-ellipsis-h" title="修改高级属性" ></i>
                <i class="fa fa-pencil-square-o" title="编辑任务"></i>
                <i class="fa fa-arrow-up" title="置顶任务" ></i>
              </span>
            </li>

            <li>
              <span>
                <i class="fa fa-circle-o" style="font-size: 120%; opacity: 1;" title="完成任务"></i>
              </span>
              <input value="置顶的第一个任务是专注任务" type="text" disabled="disabled">
              <span class="btns">
                <i class="fa fa-ellipsis-h" title="修改高级属性" ></i>
                <i class="fa fa-pencil-square-o" title="编辑任务" ></i>
                <i class="fa fa-arrow-up" title="置顶任务" ></i>
              </span>
            </li>

            <li>
              <span>
                <i class="fa fa-circle-o" style="font-size: 120%; opacity: 1;" title="完成任务"></i>
              </span>
              <input value="提交番茄时，点按任务描述，可以将描述填入输入框" type="text" disabled="disabled">
              <span class="btns">
                <i class="fa fa-ellipsis-h" title="修改高级属性" ></i>
                <i class="fa fa-pencil-square-o" title="编辑任务" ></i>
                <i class="fa fa-arrow-up" title="置顶任务" ></i>
              </span>
            </li>

            <li>
              <span>
                <i class="fa fa-circle-o" style="font-size: 120%; opacity: 1;" title="完成任务"></i>
              </span>
              <input value='在任务尾部加上 "!!" 可以将其重要程度标记为 2' type="text" disabled="disabled">
              <span class="btns">
                <i class="fa fa-ellipsis-h" title="修改高级属性" ></i>
                <i class="fa fa-pencil-square-o" title="编辑任务" ></i>
                <i class="fa fa-arrow-up" title="置顶任务" ></i>
              </span>
            </li>

            <li>
              <span>
                <i class="fa fa-circle-o" style="font-size: 120%; opacity: 1;" title="完成任务"></i>
              </span>
              <input value="使用 #标签 可以归类整理你的任务" type="text" disabled="disabled">
              <span class="btns">
                <i class="fa fa-ellipsis-h" title="修改高级属性" ></i>
                <i class="fa fa-pencil-square-o" title="编辑任务" ></i>
                <i class="fa fa-arrow-up" title="置顶任务" ></i>
              </span>
            </li>

            <li>
              <span>
                <i class="fa fa-circle-o" style="font-size: 120%; opacity: 1;" title="完成任务"></i>
              </span>
              <input value="拖动任务进行排序" type="text" disabled="disabled">
              <span class="btns">
                <i class="fa fa-ellipsis-h" title="修改高级属性" ></i>
                <i class="fa fa-pencil-square-o" title="编辑任务" ></i>
                <i class="fa fa-arrow-up" title="置顶任务" ></i>
              </span>
            </li>

            <li>
              <span>
                <i class="fa fa-circle-o" style="font-size: 120%; opacity: 1;" title="完成任务"></i>
              </span>
              <input value="双击任务即可编辑" type="text" disabled="disabled">
              <span class="btns">
                <i class="fa fa-ellipsis-h" title="修改高级属性"></i>
                <i class="fa fa-pencil-square-o" title="编辑任务"></i>
                <i class="fa fa-arrow-up" title="置顶任务"></i>
              </span>
            </li>

            <li>
              <span>
                <i class="fa fa-circle-o" style="font-size: 120%; opacity: 1;" title="完成任务"></i>
              </span>
              <input value="番茄土豆" type="text" disabled="disabled">
              <span class="btns">
                <i class="fa fa-ellipsis-h" title="修改高级属性" ></i>
                <i class="fa fa-pencil-square-o" title="编辑任务" ></i>
                <i class="fa fa-arrow-up" title="置顶任务" ></i>
              </span>
            </li>

            <li>
              <span>
                <i class="fa fa-circle-o" style="font-size: 120%; opacity: 1;" title="完成任务"></i>
              </span>
              <input value="番茄土豆" type="text" disabled="disabled">
              <span class="btns">
                <i class="fa fa-ellipsis-h" title="修改高级属性" ></i>
                <i class="fa fa-pencil-square-o" title="编辑任务" ></i>
                <i class="fa fa-arrow-up" title="置顶任务" ></i>
              </span>
            </li>

        </div>
      </div>
    </div>

    <div class="bottombar">
      <div class="tongji">
        <div>统计</div>
        <div>一周累计</div>
        <div class="tongji-data">0123456789</div>
      </div>
      <div class="mubiao">
        <div>目标</div>
        <div>今日目标</div>
        <div class="mubiao-data">0123456789</div>
      </div>
      <div class="tomotos">
        <div>番茄历史</div>
        <div>累计完成番茄</div>
        <div class="tomotos-data">0123456789</div>
      </div>
      <div class="potatos">
        <div>任务历史</div>
        <div>累计完成任务</div>
        <div class="potatos-data">0123456789</div>
      </div>
    </div>

    <footer>
      <small>
        <div class="footer-left">
          <div>@copy;番茄土豆</div>
          <select name="languages">
            <option value="简体中文">简体中文</option>
            <option value="Deutsche">Deutsche</option>
            <option value="Englisth">Englisth</option>
            <option value="Español">Español</option>
            <option value="Français">Français</option>
            <option value="Italiano">Italiano</option>
            <option value="日本語">日本語</option>
            <option value="русский">русский</option>
            <option value="繁體中文">繁體中文</option>
          </select>
        </div>
        <div class="footer-right">
          <div>高级版</div>
          <div>应用程序</div>
          <div>帮助</div>
          <div>开发者</div>
          <div>媒体报道</div>
          <div>服务条款</div>
        </div>
      </small>
    </footer>

  </body>
</html>
