<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>重置密码</title>
    <link rel="icon" type="image/ico" href="../static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../static/log-style.css">
  </head>
  <body>
      <div class="logo"><a href="https://pomotodo.com/"><img src="../static/images/pomotodo_cn.png"></a></div>
      <div class="bigtitle">重置密码</div>
      {% for message in get_flashed_messages() %}
      <div class="alert">{{ message }}</div>
      {% endfor %}
      <div class="login"><a href="{{url_for('signup')}}">注册</a></div>
      <div class="login"><a href="{{url_for('forgot')}}">重置密码</a></div>
      <div class="login"><a href="{{url_for('login')}}">登录</a></div>
  </body>
</html>
