<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>重置密码</title>
    <link rel="icon" type="image/ico" href="../static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../static/log-style.css">
  </head>
  <body>
      <div class="logo"><a href="https://pomotodo.com/"><img src="../static/images/pomotodo_cn.png"></a></div>
      {% for message in get_flashed_messages() %}
      <div class="alert">{{ message }}</div>
      {% endfor %}
      <div class="bigtitle">请激活您的账户</div>
      <div class="tip fontbold" >我们已向您的邮箱发送激活邮件</div>
      <div class="tip" >如果您在收件箱没有找到相关邮件，请检查垃圾箱</div>
      <div class="login"><a href="{{url_for('login')}}">登录</a></div>
  </body>
</html>
